$icon-add-member__png: '../assets/icons/PNG/icon-add-member.png';
$icon-add-note__png: '../assets/icons/PNG/icon-add-note.png';
$icon-add-sth__png: '../assets/icons/PNG/icon-add-sth-sb.png';
$icon-approval-2__png: '../assets/icons/PNG/icon-approval-2.png';
$icon-approval__png: '../assets/icons/PNG/icon-approval.png';
$icon-archive-2__png: '../assets/icons/PNG/icon-archive-2.png';
$icon-archive__png: '../assets/icons/PNG/icon-archive.png';
$icon-arrow-down__png: '../assets/icons/PNG/icon-arrow-down.png';
$icon-automation__png: '../assets/icons/PNG/icon-automation.png';
$icon-back-to-video__png: '../assets/icons/PNG/icon-back-to-video-tutorials.png';
$icon-calendar__png: '../assets/icons/PNG/icon-calendar.png';
$icon-change-project-group-2__png: '../assets/icons/PNG/icon-change-project-group-2.png';
$icon-change-project-group-3__png: '../assets/icons/PNG/icon-change-project-group-3.png';
$icon-change-project-group__png: '../assets/icons/PNG/icon-change-project-group.png';
$icon-comments__png: '../assets/icons/PNG/icon-comments.png';
$icon-create-project__png: '../assets/icons/PNG/icon-create-project.png';
$icon-design-critique_png: '../assets/icons/PNG/icon-design-critique.png';
$icon-dots__png: '../assets/icons/PNG/icon-dots.png';
$icon-duplicate__png: '../assets/icons/PNG/icon-duplicate.png';
$icon-edit__png: '../assets/icons/PNG/icon-edit.png';
$icon-email-2__png: '../assets/icons/PNG/icon-email-2.png';
$icon-email-3__png: '../assets/icons/PNG/icon-email-3.png';
$icon-email-approval__png: '../assets/icons/PNG/icon-email-for-approval.png';
$icon-email-preview__png: '../assets/icons/PNG/icon-email-preview.png';
$icon-email__png: '../assets/icons/PNG/icon-email.png';
$icon-emoji__png: '../assets/icons/PNG/icon-emoji.png';
$icon-folder-alt__png: '../assets/icons/PNG/icon-folder-alt.png';
$icon-new-project__png: '../assets/icons/PNG/icon-new-project.png';
$icon-play__png: '../assets/icons/PNG/icon-play.png';
$icon-plus-square__png: '../assets/icons/PNG/icon-plus-square.png';
$icon-question-mark__png: '../assets/icons/PNG/icon-question-mark.png';
$icon-remove-from-group__png: '../assets/icons/PNG/icon-remove-from-group.png';
$icon-save-as-email-template-2__png: '../assets/icons/PNG/icon-save-as-email-template-2.png';
$icon-save-as-email-template__png: '../assets/icons/PNG/icon-save-as-email-template.png';
$icon-schedule-auto-reminder__png: '../assets/icons/PNG/icon-schedule-auto-reminder.png';
$icon-search__png: '../assets/icons/PNG/icon-search.png';
$icon-settings__png: '../assets/icons/PNG/icon-settings.png';
$icon-share-projects__png: '../assets/icons/PNG/icon-share-projects.png';
$icon-share__png: '../assets/icons/PNG/icon-share.png';
$icon-status-progress__png: '../assets/icons/PNG/icon-status-progress.png';
$icon-team-settings-2__png: '../assets/icons/PNG/icon-team-settings-2.png';
$icon-team-settings__png: '../assets/icons/PNG/icon-team-settings.png';
$icon-unarchive__png: '../assets/icons/PNG/icon-unarchive.png';
$icon-video-tutorials__png: '../assets/icons/PNG/icon-video-tutorials.png';
$icon-wireframe__png: '../assets/icons/PNG/icon-wireframe.png';
