.icon__sprite_png {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../assets/icons/sprite/sprite.png);
}

.icon__sprite_svg {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../assets/icons/sprite/sprite.svg);
}

.b-icon-remove-from-group__sprite {
  width: 20px;
  height: 20px;
  background-position: 0 0;
}
.b-icon-comments__sprite {
  width: 23px;
  height: 20px;
  background-position: -36px 0;
}
.b-icon-design-critique__sprite {
  width: 20px;
  height: 20px;
  background-position: -72px 0;
}
.b-icon-plus-square__sprite {
  width: 20px;
  height: 20px;
  background-position: -108px 0;
}
.b-icon-unarchive__sprite {
  width: 20px;
  height: 20px;
  background-position: -144px 0;
}
.b-icon-dots__sprite {
  width: 93px;
  height: 20px;
  background-position: -180px 0;
}
.b-icon-change-project-group-3__sprite {
  width: 22px;
  height: 20px;
  background-position: -288px 0;
}
.b-icon-duplicate__sprite {
  width: 19px;
  height: 20px;
  background-position: -324px 0;
}
.b-icon-archive-2__sprite {
  width: 13px;
  height: 20px;
  background-position: -360px 0;
}
.b-icon-folder-alt__sprite {
  width: 20px;
  height: 20px;
  background-position: -396px 0;
}
.b-icon-add-note__sprite {
  width: 20px;
  height: 20px;
  background-position: -432px 0;
}
.b-icon-email-3__sprite {
  width: 35px;
  height: 20px;
  background-position: -468px 0;
}
.b-icon-email-preview__sprite {
  width: 20px;
  height: 20px;
  background-position: 0 -36px;
}
.b-icon-email-2__sprite {
  width: 20px;
  height: 20px;
  background-position: -36px -36px;
}
.b-icon-email__sprite {
  width: 20px;
  height: 20px;
  background-position: -72px -36px;
}
.b-icon-email-for-approval__sprite {
  width: 20px;
  height: 20px;
  background-position: -108px -36px;
}
.b-icon-approval-2__sprite {
  width: 20px;
  height: 20px;
  background-position: -144px -36px;
}
.b-icon-approval__sprite {
  width: 35px;
  height: 20px;
  background-position: -180px -36px;
}
.b-icon-add-sth-sb__sprite {
  width: 20px;
  height: 20px;
  background-position: -252px -36px;
}
.b-icon-automation__sprite {
  width: 20px;
  height: 20px;
  background-position: -288px -36px;
}
.b-icon-calendar__sprite {
  width: 19px;
  height: 20px;
  background-position: -324px -36px;
}
.b-icon-team-settings-2__sprite {
  width: 20px;
  height: 20px;
  background-position: -360px -36px;
}
.b-icon-team-settings__sprite {
  width: 20px;
  height: 20px;
  background-position: -396px -36px;
}
.b-icon-save-as-email-template-2__sprite {
  width: 20px;
  height: 20px;
  background-position: -432px -36px;
}
.b-icon-save-as-email-template__sprite {
  width: 20px;
  height: 20px;
  background-position: -468px -36px;
}
.b-icon-back-to-video-tutorials__sprite {
  width: 20px;
  height: 20px;
  background-position: -504px -36px;
}
.b-icon-video-tutorials__sprite {
  width: 20px;
  height: 20px;
  background-position: -540px -36px;
}
.b-icon-emoji__sprite {
  width: 20px;
  height: 20px;
  background-position: 0 -72px;
}
.b-icon-schedule-auto-reminder__sprite {
  width: 20px;
  height: 20px;
  background-position: -36px -72px;
}
.b-icon-change-project-group-2__sprite {
  width: 20px;
  height: 20px;
  background-position: -72px -72px;
}
.b-icon-change-project-group__sprite {
  width: 20px;
  height: 20px;
  background-position: -108px -72px;
}
.b-icon-wireframe__sprite {
  width: 20px;
  height: 20px;
  background-position: -144px -72px;
}
.b-icon-new-project__sprite {
  width: 20px;
  height: 20px;
  background-position: -180px -72px;
}
.b-icon-create-project__sprite {
  width: 20px;
  height: 20px;
  background-position: -216px -72px;
}
.b-icon-archive__sprite {
  width: 20px;
  height: 20px;
  background-position: -252px -72px;
}
.b-icon-share__sprite {
  width: 19px;
  height: 20px;
  background-position: -288px -72px;
}
.b-icon-play__sprite {
  width: 17px;
  height: 20px;
  background-position: -324px -72px;
}
.b-icon-edit__sprite {
  width: 20px;
  height: 20px;
  background-position: -360px -72px;
}
.b-icon-share-projects__sprite {
  width: 22px;
  height: 20px;
  background-position: -396px -72px;
}
.b-icon-arrow-down__sprite {
  width: 35px;
  height: 20px;
  background-position: -432px -72px;
}
.b-icon-status-progress__sprite {
  width: 20px;
  height: 20px;
  background-position: -504px -72px;
}
.b-icon-search__sprite {
  width: 20px;
  height: 20px;
  background-position: -540px -72px;
}
.b-icon-settings__sprite {
  width: 20px;
  height: 20px;
  background-position: 0 -108px;
}
.b-icon-question-mark__sprite {
  width: 12px;
  height: 20px;
  background-position: -36px -108px;
}
.b-icon-add-member__sprite {
  width: 16px;
  height: 20px;
  background-position: -72px -108px;
}
